<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="Main.css">
</head>
<body>
    <div id="header">
        <img id="logo" src="/Images/logo.png" alt="LOGO">
        <ul id="menu">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Mission</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <button type="button" onclick="" id="MenuButton">Login</button>
    </div>
    <div id="content">
        <div class="intro">
            <p style="font-weight:600;">WELCOME to Customer!</p>
            <h1>Manage Adventure</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit architecto temporibus, et ea cumque, sapiente voluptatem totam cupiditate sit impedit adipisci enim expedita repellendus voluptas quibusdam quod dolorem. Perspiciatis, sed.</p>
        </div>
        <div class="MainPic">
            <img id="pic" src="/Images/Mainpic.png" alt="mainpic">
        </div>
        <div class="rightSideBar">side bar</div>
    </div>
    <div id="footer"></div>
    
</body>
</html>