<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="Main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="header">
        <img id="logo" src="/Images/logo.png" alt="LOGO">
        <ul id="menu">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li id="hasdropdown"><a href="">Services</a>
                <ul id="dropdown">
                    <li><a  href="">Seo</a></li>
                    <li><a href="">Finance</a></li>
                    <li><a href="">Marketing</a></li>
                    <li><a href="">Career</a></li>
                </ul></li>
            
            <li><a href="">Mission</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <button type="button" onclick="" id="MenuButton">Login</button>
    </div>
    <div id="imagediv" >
       <h1>Welcome To </h1>
       <h1 style="margin-left:25px; color:gold ;"> LINETECH</h1>
       <div class="rightSideBar">
        <i class="fa fa-facebook-square w3-large"   ></i>
        <i class="fa fa-linkedin-square w3-large"   ></i>
        <i class="fa fa-instagram w3-large"  ></i>
        <i class="fa fa-twitter w3-large"   ></i>
    </div>

    </div>
    <div id="content">
        <div class="intro">
            <p style="font-weight:600;">Welocme Customer!</p>
            <h1>Manage Adventure</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit architecto temporibus, et ea cumque, sapiente voluptatem totam cupiditate sit impedit adipisci enim expedita repellendus voluptas quibusdam quod dolorem. Perspiciatis, sed.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias optio voluptates, velit laudantium iure obcaecati corrupti consectetur aspernatur? Ipsum porro aperiam id ipsa explicabo labore temporibus dolorem placeat optio rerum.</p>
            <div style="display:flex; justify-content:space-around">
                <button id="Signup">Sign Up Now!</button>
                <i class="fa fa-play-circle w3-large" style="font-size:50px; "  ></i>
                <p style="font-size:medium ; text-decoration:underline; margin-right:50%; font-weight:700">how it works</p>
            </div>
            
        </div>
        <div class="MainPic">
            <img id="pic" src="/Images/Mainpic.png" alt="mainpic">
        </div>
        
    </div>
    <div class="services">
        <div class="service">
            <img class="servicepic" src="/Images/1 (1).png" alt="service">
            <h1 id="head">SEO Consulting</h1>
            <p id="ServiceDes">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil vero assumenda iste quos at. Distinctio deleniti molestiae, provident omnis similique architecto iure pariatur rerum corrupti reprehenderit ipsum necessitatibus, tempora id.</p>
        </div>
        <div class="service">
            <img  class="servicepic" src="/Images/1 (2).png" alt="service">
            <h1 id="head">Finance Managing</h1>
            <p id="ServiceDes">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil vero assumenda iste quos at. Distinctio deleniti molestiae, provident omnis similique architecto iure pariatur rerum corrupti reprehenderit ipsum necessitatibus, tempora id.</p>
        </div>
        <div class="service">
            
            <img class="servicepic" src="/Images/1 (3).png" alt="service">
            <h1 id="head">Digital Marketing</h1>
            <p id="ServiceDes">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil vero assumenda iste quos at. Distinctio deleniti molestiae, provident omnis similique architecto iure pariatur rerum corrupti reprehenderit ipsum necessitatibus, tempora id.</p>
        </div>
    </div>
    <div id="footer">
        <div class="footerleft">
            <div class="info">
                <i class="fa fa-phone w3-large"   ></i>
                <p class="details">+923446233286</p>
            </div>
            <div class="info">
                <i class="fa fa-map-marker w3-large"   ></i>
                <p class="details">Defense Road, Lahore, Pakistan</p>
            </div>
            <div class="info">
                <i class="fa fa-envelope w3-large"   ></i>
                <a  href=""><p>LineTech@hotmail.com</p> </a>
            </div>

        </div>
        <div class="footerright">
            <h1>About the company</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste distinctio ratione sunt corporis velit, debitis laboriosam doloribus saepe, voluptatem fugiat assumenda nostrum deserunt? Assumenda aliquid mollitia harum, ea quia sed! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam amet expedita perspiciatis. Rerum tenetur eum eaque. Facilis eius, soluta inventore doloremque optio aliquam ipsam iste nihil repellendus voluptas voluptates laborum? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae corporis odio veniam quos natus provident aliquam nostrum velit in laborum unde incidunt alias quibusdam ab illo sed, accusamus atque nam.</p>
        </div>
    </div>
    
</body>
</html>